<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page </title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    
        <nav class="navbar">
           <p class="p1">ICT</p>
            <ul>
             
                <li><a href="/">Home</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>

        <div class="div1">
           <h2>This is HOME page</h2>
           <p class="p2"> <span>Register</span>  to Enter Your information and <span>Login</span> to see all the users innformation</p>
        </div>

</body>
</html>